body{
    margin: auto;
    max-width: 1366px;
}
.fon{
    margin: auto;
    position: absolute;
    top: 0px;
    left:0px;
    right: 0px;
    z-index: -1;
}
.titletext{
    background-color: #edd9c0;
    opacity:0.8;
    text-align:center;
    font-size: 30px;
    color:#7d4627;
    margin-top:30px;
    margin-bottom: 30px;
    margin-left:0px;
    margin-right: 0px;
    padding: 50px;   
}
#nav{
    display: flex;
    margin-top:676px;
    margin-left: 0px;
    border:2px;
    padding: 0px;
    font-size:30px;
    font-family:'Open Sans';
    color:#4d7130;
    background-color: #edd9c0;
}
#nav > #a {order: 1;}
#nav > #b {order: 2;}
#nav > #c {order: 3;}
#a, #b, #c {
    border:0px;
    padding: 30px;
    width: 33%;
}
.section{
    background-color: #c9d8c5;
}
.footer{ 
    background-color: #7d4627;
    color: #fff;
    align: center;
}
iframe{
    width:550px;
}
fieldset{
    width: 300px;
    height: 100px;
    float: left;
}
.titles{
    background-color: #a8b6bf;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    font-family:'Open Sans';
    color:#4d7130;
}
#gallery{
    display:flex;
}
#gallery > #gallery1 {order:1}
#gallery > #gallery2 {order:2}
#gallery > #gallery3 {order:3}
#gallery > #gallery4 {order:4}
#gallery{
    margin: auto;
    background-color: #c9d8c5;
    text-align: center;
    font-size: 30px;
    font-family:'Open Sans';
    color:#4d7130;
}
#gallery1, #gallery2, #gallery3, #gallery4{
    padding: 30px;
}
div>img{
    border-radius: 25%;
}
#treners{
    font-size: 25px;
    font-family:'Open Sans';
    color:#4d7130;
}
.trener1{
    width: 33%;
}
.trener2{
    width: 33%;
}
.trener3{
    width: 33%;
}
.footer{
    margin:0px;
    padding: 10px;
    border:0px;
    background-color: #7d4627;
    text-align: center;
}
iframe{
    margin: auto;
    display: block;
}

  